@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mask-top: url("https://i.ibb.co/7RW8C9t/top.png");
  --mask-bottom: url("https://i.ibb.co/5WvbqgG/zmylJ.png");
  --light-background: #ecded1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  height: 100%;
  width: 100%;
}

.clip-img-top-border {
  width: 100%;
  height: 390px;
  -webkit-mask: var(--mask-top) top / auto 50px repeat-x,
    linear-gradient(var(--light-background), var(--light-background)) no-repeat
      center/100% calc(100% - 50px);
}

.clip-bottom-border {
  width: 100%;
  height: 100%;
  -webkit-mask: linear-gradient(
        var(--light-background),
        var(--light-background)
      )
      no-repeat center/100% calc(100% - 50px),
    var(--mask-bottom) bottom / auto 50px repeat-x;
}

.clip-top-border {
  width: 100%;
  height: 100%;
  -webkit-mask: var(--mask-top) top / auto 30px repeat-x,
    linear-gradient(var(--light-background), var(--light-background)) no-repeat
      center/100% calc(100% - 40px);
}

.clip-y-border {
  width: 100%;
  height: 100%;
  -webkit-mask: var(--mask-top) top / auto 30px repeat-x,
    linear-gradient(var(--light-background), var(--light-background)) no-repeat
      center/100% calc(100% - 60px),
    var(--mask-bottom) bottom / auto 30px repeat-x,
    var(--mask-bottom) left / auto 5px repeat-y;
}
